
[submodule "config\\external_components\\ens220\\sciosense-ens220-arduino"]
	path = config\\external_components\\ens220\\sciosense-ens220-arduino
	url = https://github.com/GabrielGoldsteinAnidea/ens220-arduino
